.topheader {
  position: fixed;
  background-color: coral;
  width: 100%;
  height: 3.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 3.75rem;
}
.Menu-Horizontal li a {
  text-decoration: none;
  color: whitesmoke;
}
.Menu-Vertical {
  position: absolute;
  display: none;
  width: 12.5rem;
  list-style: none;
  padding: 0;
}
.Menu-Horizontal li a:hover {
  color: red;
  /*font-size: 25px;*/
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}
.Menu-Vertical li a {
  display: block;
  text-decoration: none;
  padding: 0.625rem;
}
/* Sección créditos postre*/
.Seccion-creditos {
  padding: 3.75rem 1.25rem;
  background-color: #FF8C00;
}
.cont-gral-creditos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem;
}
.cont-cred-texto {
  flex: 1;
}
.cont-cred-texto h2 {
  color: black;
  margin-bottom: 3.125rem;
}

.cont-cred-texto p {
  color: black;
  line-height: 1.5;
}
.cont-cred-img {
  flex: 1;
}
.cont-cred-img img {
  width: 100%;
  max-width: 31.25rem;
  /*border-radius: 10px;*/
}
/*SECCION SEGUROS R4ECETAS*/
.Seccion-seguros {
  padding: 3.75rem 1.25rem;
  background-color:#F5F5DC;
}
.cont-gral-seguros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem;
}
.cont-seg-texto {
  flex: 1;
}
.cont-seg-texto h2 {
  color: black;
  line-height: 1.6;
}
.cont-seg-texto button {
  margin-top: 1.25rem;
  padding: 0.625rem 1.25rem;
  background-color: brown;
  color: antiquewhite;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
}
.cont-seg-video {
  flex: 1;
}
.cont-seg-video iframe {
  width: 100%;
  max-width: 31.25rem;
}

.Seccion-formulario {
  background-color: bisque;
  padding: 2.5rem;
  border: 0.188rem;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.cont-gral-formulario {
  background-color: burlywood;
  padding: 1.875rem;
  border: 0.125rem solid black;
  border-radius: 0.5rem;
  margin-bottom: 1.875rem;
  width: 100%;
  max-width: 31.25rem;
}
.campo {
  background-color: chocolate;
  padding: 0.938rem;
  border: 0.094rem solid rebeccapurple;
  border-radius: 0.313rem;
  margin-bottom: 1.875rem;
}

.formulario label {
  display: block;
  font-weight: 400;
}

.formulario intup[type="text"],
.formulario select {
  width: 100%;
  padding: 0.5rem;
  border: 0.094rem solid black;
  border-radius: 0.313rem;
}

.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 0.5rem;
  border: 0.063rem solid moccasin;
  background-color: blueviolet;
  border-radius: 0.063;
}
.formulario button {
  background-color: crimson;
  padding: 0.625rem 1.25rem;
  font-weight: 700;
  color: beige;
  border-radius: 0.313rem;
  margin-top: 1.25rem;
  cursor: pointer;
}
/*PIE DE PAGINA*/
.seccion-footer {
  background-color: burlywood;
  color: brown;
  padding: 2.5rem 1.25rem;
}
.cont-gral-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem;
}
.footer-info {
  flex: 1;
}
.footer-info h3 {
  color: blue;
  margin-bottom: 0.938rem;
}
.footer-redes {
  fles: 1;
}
.footer-redes h3 {
  color: blue;
  margin-bottom: 0.938rem;
}
.lista-redes {
  list-style: none;
  padding: 0;
}
.lista-redes li {
  margin-bottom: 0.5rem;
}
.lista-redes li a {
  text-decoration: none;
  color: cadetblue;
}
